<!-- <nav>
    <ul>
        <li><a routerLink="/signin-component" routerLinkActive="active" ariaCurrentWhenActive="page">Signin</a></li>
        <li><a routerLink="/signup-component" routerLinkActive="active" ariaCurrentWhenActive="page">Signup</a></li>
        <li><a routerLink="/forgot-component" routerLinkActive="active" ariaCurrentWhenActive="page">Forgot</a></li>
        <li><a routerLink="/dashboard-component" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a>
        </li>
        <li><a routerLink="/settings-component" routerLinkActive="active" ariaCurrentWhenActive="page">Settings</a></li>
    </ul>
</nav> -->
<router-outlet>
    <a routerLink="/signin-component" routerLinkActive="active" ariaCurrentWhenActive="page">Signin</a>
</router-outlet>