<div class="card">
    <div class="row header-navs">
        <a routerLink="/dashboard-component" routerLinkActive="active" ariaCurrentWhenActive="page">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </a>
    </div>
</div>
<div class="card">
    <div class="card-body signin-card">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img alt="Logo" src="./../assets/BurgerTechnologies-logo-white.png" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <h1>Settings</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="form-floating">
                        <input id="name" class="form-control" placeholder="John Doe" />
                        <label for="name">Name</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <button class="btn btn-primary" (click)="ngpresser()">Confirm</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="form-floating">
                        <input id="email" class="form-control" placeholder="JohnDoe@example.com" />
                        <label for="email">Email</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <button class="btn btn-primary" (click)="ngpresser()">Confirm</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="form-floating">
                        <input id="pass" class="form-control" placeholder="************" />
                        <label for="pass">Password</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <button class="btn btn-primary" (click)="ngpresser()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>