# Headers for good SEO
# <IfModule mod_headers.c>
#     Header set Access-Control-Allow-Origin "*"
#     Header set Strict-Transport-Security "max-age=10886400; includeSubDomains; preload"
# 	Header set X-XSS-Protection "1; mode=block"
# 	Header always append X-Frame-Options SAMEORIGIN
# 	Header set X-Content-Type-Options nosniff
# 	Header add Content-Security-Policy "default-src 'self';"
# 	Header set Referrer-Policy "no-referrer-when-downgrade"
# </IfModule>
# <IfModule mod_expires.c>
#     ExpiresActive on
#     ExpiresByType text/css "access plus 1 second"
# </IfModule>



# Remove .php requirement
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# Remove .html requirement
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.+)/$ $1 [R,L]
# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.html -f
# RewriteRule ^(.*)$ $1.html

# Force Https
# RewriteEngine On 
# RewriteCond %{HTTPS} off 
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
