<div class="card">
    <div class="row header-navs">
        <a onClick="window.location.href='signin'">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
        <a onClick="window.location.href='settings'">
            <i class="fa-solid fa-gear"></i>
        </a>
    </div>
    <div class="row">
        <h1>Dashboard</h1>
    </div>
    <!-- <p>Welcome {name}</p>
    <p>Email: {email}</p> -->
</div>